---
import Container from '@components/Container.astro';
import SectionTitle from '@components/SectionTitle.astro';
import Layout from '@layouts/Layout.astro';
import { getAllTeams } from '@services/teams';

const BASE_URL_LOGOS = 'https://kings-league-api.carlos-betan-42.workers.dev/static/logos';

const teams = await getAllTeams();
---

<Layout title='Equipos'>
  <SectionTitle title='Equipos' />
  <Container>
    <div class='bg-white rounded shadow-xl -mt-10 -z10'>
      <section class='grid grid-cols-3 gap-8 p-4'>
        {
          teams.map((team) => {
            const { id, name, image } = team;
            console.log(image);

            return (
              <article class='overflow-hidden col-span-1 rounded aspect-video bg-blue-400'>
                <a
                  class='group transition-all hover:scale-110 flex h-full items-center justify-center relative'
                  href={`/team/${id}`}
                  title={`Ver equipo ${name}`}
                >
                  <img
                    alt={`Logo del equipo ${name}`}
                    class='brightness-[100] transition-all group-hover:scale-110 group-hover:brightness-200 z-10 w-14 h-14'
                    src={`${BASE_URL_LOGOS}${image}`}
                  />
                  <h3 class='z-10 font-title text-white text-3xl'>{name}</h3>
                  <div
                    class={`z-0 absolute inset-0 opacity-50 bg-[url(${BASE_URL_LOGOS}${image})] bg-center bg-[size:150%] group-hover:bg-[size:200] transition`}
                  />
                </a>
              </article>
            );
          })
        }
      </section>
    </div>
  </Container>
</Layout>
